{% extends 'booking/base.html' %}

{% block content %}

<div style="padding:60px; max-width:900px; margin:auto;">

    <h1 style="color:#00ffcc;">About TicketHub 🎵</h1>

    <p style="margin-top:20px; line-height:1.7;">
        Welcome to <b>TicketHub</b> — your one-stop platform for booking concert tickets
        and experiencing unforgettable live events.
    </p>

    <p style="margin-top:15px; line-height:1.7;">
        Our mission is to make event booking simple, fast, and secure.
        Whether it's concerts, or live shows — we bring everything
        to your fingertips.
    </p>

    <p style="margin-top:15px; line-height:1.7;">
        Experience the thrill of live music like never before. From global superstars 
    to rising talents, TicketHub connects you to the best concerts and events. 
    Feel the energy, book your seats, and be part of unforgettable moments.
    </p>

</div>

{% endblock %}